/*header start*/
.g-header,.g-header .navbar-header{height:76px;}
.g-header{background: #f6f6f6;width:100%;z-index:10;position: relative;}
.g-header .container{padding:0;}
.g-header .navbar {border:none;margin-bottom:0;background: none;}
.g-header .navbar-collapse{padding:0 10px;z-index:20;}
.g-header .navbar-nav{float:right;}
.g-logo{width:208px;height:82px;padding:0;position:absolute;top:0;left:0;}
.g-logo img{display:block;width:208px;height:82px;}
.g-fun{width:36px;height:32px;background: url("../img/fun.png") no-repeat;background-size:cover;margin-top:22px;padding:0;}
.g-header .navbar-nav li,.g-header .navbar-nav li a{float:left;height:76px;}
.g-header .navbar-nav li{border-right:1px solid #eaeaea;text-align:center;}
.g-header .navbar-nav li.g-nav-first{border-left:1px solid #eaeaea;}
.g-header .navbar-nav li a{padding:0 30px;background: #f6f6f6;}
.g-header .navbar-nav li em,.g-header .navbar-nav li span{display:block;}
.g-header .navbar-nav li em{font-size:14px;color:#333;line-height:22px;padding-top:23px;}
.g-header .navbar-nav li span{font-size:12px;color:#acacac;font-family:"Arial";line-height:16px;}
.g-login em{padding-left:16px;position:relative;}
.g-login em i{position:absolute;top:27px;left:0;width:12px;height:14px;overflow:hidden;background: url("../img/user.png") no-repeat;}
.g-login-after .g-login-sub em{position:relative;padding-right:15px;}
.g-login-after .g-login-sub em i{position:absolute;top:35px;right:0;width:12px;height:6px;overflow:hidden;background: url("../img/arrow-j.png") no-repeat;}
.g-header .navbar-nav li.g-login-after em{padding-top:27px;}
.g-header .navbar-nav .g-nav-li.active a{background: #3b64c4;height:83px;}
.g-header .navbar-nav .g-nav-li.active{border-right:none;}
.g-header .navbar-nav .g-nav-li.active em{color:#fff;}
.g-header .navbar-nav .g-nav-li.active span{color:#8ca3da;}
.g-arrow{width:20px;height:10px;background: url("../img/arrow.png") no-repeat;position:absolute;top:74px;right:23px;display:none;}
.g-login-drop{width:164px;position:absolute;top:76px;right:0;background:#3b64c4;border:none;left:auto;}
.g-login-drop dd{height:48px;background:#3b64c4;border-bottom:1px solid #5378ce;padding-left:10px;text-align:left;}
.g-login-drop dd:last-child{border-bottom:none;}
.g-header .navbar-nav li.g-login-after dd em{padding-top:5px;font-size:12px;color:#c3d0ee;line-height:20px;}
.g-header .navbar-nav li.g-login-after dd span{color:#6287de;font-family:"Arial";font-size:12px;line-height:20px;}
.g-header .navbar-nav li .g-login-drop a{width:100%;padding:0;background:#3b64c4;height:48px;}
.g-header .g-login-after.open a, .g-header .g-login-after.open a:focus, .g-header .g-login-after.open a:hover{background:#3b64c4;}
.g-header .g-login-after.open a.g-login-sub em{color:#c1cff2;}
.g-header .g-login-after.open a.g-login-sub em i{background: url("../img/arrow-f.png") no-repeat;}
.g-nav-blank{width:500px;}
@media (min-width: 1068px) and (max-width: 1200px) {.g-header .navbar-nav li a{padding:0 20px;}}
@media (min-width: 768px) and (max-width: 992px){.g-logo,.g-logo img{width:150px;height:60px;}.g-logo{margin-top:8px;} .g-nav-blank{width:300px;}}
@media (min-width: 768px) and (max-width: 1068px) {.g-header .navbar-nav li a{padding:0 9px;} }
@media (min-width: 1068px) and (max-width: 1168px) { .g-header .navbar-nav li a{padding:0 15px;}}
@media (max-width: 768px){
    .g-header .navbar-collapse{overflow-x:hidden;border-top:none;width:100%;position:relative;}
    .g-header .navbar-toggle{border-color:transparent;}
    .g-header .navbar-toggle:focus, .g-header .navbar-toggle:hover{background-color: transparent;}
    .g-header .navbar-nav{margin-top:0;margin-bottom:0;float:none;}
    .g-header .navbar-nav li,.g-header .navbar-nav li a{width:100%;}
    .g-header .navbar-nav li{border-right:none;text-align:left;height:auto;}
    .g-header .navbar-nav li.g-nav-li{border-bottom:1px solid #4772d4;}
    .g-header .navbar-nav li a{padding:0;background: #3b64c4;padding-left:30px;height:62px;}
    .g-header .navbar-nav li em,.g-header .navbar-nav li span{display:inline-block;vertical-align: top;}
    .g-header .navbar-nav li em{font-size:16px;color:#c1cff2;line-height:22px;padding-top:0;padding-top:20px;}
    .g-header .navbar-nav li span{font-size:10px;color:#6589dd;font-family:"\5FAE\8F6F\96C5\9ED1";line-height:22px;padding-left:10px;padding-top:22px;}
    .g-header .g-login em{padding-left:0;}
    .g-header .g-login em i{display:none;}
    .g-header .navbar-nav .g-nav-li.active a{background: #3b64c4;height:62px;}
    .g-header .navbar-nav .g-nav-li.active em{color:#c1cff2;}
    .g-header .navbar-nav .g-nav-li.active span{color:#6589dd;}
    .g-header .navbar-nav li a:hover,.g-header .navbar-nav li a:focus,.g-header .navbar-nav li a:active{background: #3b64c4;}
    /*.g-header .g-arrow{display:block;}*/
    .g-login-drop{width:100%;position:absolute;top:76px;right:auto;left:0;background:#4870cc;border:none;z-index:15;}
    .g-header .navbar-nav li.g-login-after a.g-login-sub{height:62px;background:#3b64c4;}
    .g-header .navbar-nav li.g-login-after em{padding-top:20px;}
    .navbar-nav .open .dropdown-menu{top:auto;left:auto;right:auto;}
    .g-login-drop dd{padding-left:40px;float:left;width:100%;}
    .g-header .navbar-nav li.g-login-after dd em{padding-top:20px;font-size:14px;}
    .g-login-drop dd,.g-header .navbar-nav li .g-login-drop a{background: #4870cc;}
     .g-header .g-login-after.open a:focus, .g-header .g-login-after.open a:hover{background:#4870cc;}
    .g-login-after .g-login-sub em i{top:30px;background: url("../img/arrow-f.png") no-repeat;}
}
/*header end*/
/*banner slide start*/
.g-ban-slide{position:relative;z-index:1;}
.g-ban-pic a,.ban-slides-pic ul img{display:block;width:100%;height:auto;}
.g-ban-pic li{position:relative;}
.g-ban-pic li i{background:rgba(0,0,0,0.2);position:absolute;top:0;left:0;display:none;width:100%;height:100%;}
.g-ban-filter{height:38px;width:100%;background: rgba(0,0,0,0.5);position:absolute;bottom:0;left:0;}
.g-ban-btn ul{height:10px;position:absolute;bottom:15px;right:15px;z-index:5;}
.g-ban-btn li{border:0 none;width:10px;height:10px;background:#4a4a4a;cursor:pointer;}
.g-ban-btn li.active{background: #ffdf2d;}
.g-ban-pic li.active i{display:block;}
.g-ban-arrow{width:30px;height:35px;position:absolute;top:50%;margin-top:-18px;transition:left 0.2s ease-in;}
.g-ban-arrow.left{left:20px;background: url("../img/arrow-left2.png") no-repeat;}
.g-ban-arrow.right{right:20px;background: url("../img/arrow-right2.png") no-repeat;}
/*banner slide end*/

/* 俱乐部冠名 start */
.club-t-con{margin-top:40px;}
.club-t-l{width:230px;background: #41485b;min-height:714px;}
.club-t-r{width:970px;background: url("../img/club-bg.jpg") no-repeat;min-height:714px;position: relative;background-size:cover;}
.club-t-list{position:relative;}
.club-t-list dt{height:80px;position:relative;}
.club-t-title{width:251px;height:117px;background: url("../img/club-shape.png") no-repeat;position:absolute;bottom:-23px;right:0;text-align: center;}
.club-t-title i{display:inline-block;width:142px;height:40px;background: url("../img/club-school.png") no-repeat;vertical-align: top;margin-top:34px;}
.club-t-list dd{height:60px;line-height:60px;font-size:14px;border-bottom:1px solid #41485b;}
.club-t-list dd a{display:block;height:60px;color:#b2b5bc;padding-left:20px;background: #4c576a;}
.club-t-list dd .club-t-icon,.club-t-list dd em{display:inline-block;vertical-align: middle;}
.club-t-list dd .club-t-icon{width:18px;height:16px;overflow: hidden;padding-right:15px;}
.club-t-list dd.club-t-list1 .club-t-icon{background: url("../img/club-icon1.png") no-repeat;}
.club-t-list dd.club-t-list2 .club-t-icon{background: url("../img/club-icon2.png") no-repeat;}
.club-t-list dd.club-t-list3 .club-t-icon{background: url("../img/club-icon3.png") no-repeat;}
.club-t-list dd.club-t-list4 .club-t-icon{background: url("../img/club-icon4.png") no-repeat;}
.club-t-list dd.active a{background:#3b64c4;color:#fff;}
.club-t-dels{width:433px;height:344px;border:1px solid rgba(0,0,0,0.2);background: #fcfcfc;position:absolute;top:50%;left:50%;margin-top:-172px;margin-left:-216px;}
.club-t-head{height:56px;line-height:56px;padding-left:30px;position:relative;}
.club-t-wave{height:22px;position:absolute;bottom:-7px;left:0;width:433px;background: url("../img/club-wave.png") no-repeat;}
.club-t-bg{height:17px;width:100%;position:absolute;bottom:-18px;left:0;background: url("../img/club-s.png") no-repeat;}
.club-t-head-txt,.club-t-head i{display: inline-block;vertical-align: middle;}
.club-t-head-txt{color:#3b64c4;font-size:16px;}
.club-t-head i{width:12px;height:12px;background: url("../img/circle.png") no-repeat;padding-right:10px;}
.club-t-items{padding:25px 0 0 30px;}
.club-t-items-list{height:38px;line-height:38px;padding-top:20px;font-size:12px;color:#666;position:relative;}
.club-t-items-txt{width:70px;}
.club-t-items-input{width:258px;height:36px;line-height:36px;padding:0 10px;border:1px solid #e1e1e1;}
.club-t-tip{color:#ff9333;line-height:32px;padding:10px 0;}
.club-t-submit{display:block;width:100px;height:34px;line-height:34px;border:0 none;margin:10px auto 0;background:#3b64c4;border-radius:20px;font-size:14px;color:#fff;text-align: center;}
.club-error{color:#f30;height:20px;line-height:20px;position:absolute;top:58px;left:72px;display:none;}
/* 俱乐部冠名 end */
/*运动员管理\联赛报名管理start*/
.club-m-r{background: #fff;}
.club-m-con{padding:15px 20px 20px;}
.club-m-reg{padding:0 15px 0 40px;height:26px;line-height:26px;font-size:14px;color:#2b55bb;border-radius:20px;border:1px solid #83a1e9;background: url("../img/club-m-icon.png") no-repeat 18px 5px;}
.club-m-table{width:928px;border:1px solid #d6dae3;margin-top:10px;font-size:12px;color:#333;}
.club-m-table td,.club-m-table th{border:1px solid #d6dae3;line-height:20px;padding:15px 0;text-align: center;}
.club-m-table th{border:1px solid #3b64c4;padding:17px 0;background: #3b64c4;color:#fff;font-size:14px;}
.club-m-table td a{color:#333;}
.club-m-table td a:hover{color:#3b64c4;}
.club-m-table td.gray,.club-m-table td.gray a{color:#666;font-size:14px;}
.club-m-table td.gray a:hover{color:#3b64c4;}
.club-m-table tbody tr:nth-of-type(2n){background:#f9f8ec;}
.club-m-go,.club-m-look,.club-m-cancel{display:inline-block;padding:0 10px 0 22px;vertical-align: top;}
.club-m-go{background: url("../img/club-m-icon1.png") no-repeat 0 4px;padding-left:18px;}
.club-m-look{background: url("../img/club-m-icon2.png") no-repeat 0 5px;}
.club-m-cancel{background: url("../img/club-m-icon3.png") no-repeat 0 4px;padding-left:18px;}

.club-m-page{text-align: center;padding-top:20px;}
.club-m-page a ,.club-m-page .club-m-page-now{position:relative;  display:inline-block;  margin:0 3px; width:30px;height:30px;line-height:30px;  vertical-align:middle;   font-size:12px;text-align:center;border-radius:30px;}
.club-m-page a {border:1px solid #eaeaea;  color:#333;  background:#fff;  }
.club-m-page .club-m-page-now,.club-m-page a:hover{border:1px solid #fff045; background:#fff045; }
/*运动员管理\联赛报名管理end*/
/*俱乐部资料 start*/
.club-d-dels{width:397px;height:666px;border:1px solid rgba(0,0,0,0.2);background: #fcfcfc;margin:40px auto 46px;position: relative;}
.club-d-dels .club-t-wave{width:397px;background: url("../img/club-wave.png") no-repeat;}
.club-d-dels .club-t-items-txt i{position:absolute;color:#ff9333;font-size:14px;left:0;top:0;line-height:20px;top:12px;}
.club-d-dels .club-t-items-txt{width:48px;padding-left:10px;position:relative;}
.club-d-con .club-t-l{padding-bottom:40px;}
.club-d-con .club-t-submit{margin-top:20px;}
.club-d-con .club-t-items{padding-top:5px;}
/*俱乐部资料 end*/
/*添加运动员start*/
.club-a-sex{margin-right:40px;}
.club-a-sex .check,.club-a-sex .checked{display:inline-block;width:18px; height:18px; cursor:pointer;  vertical-align:middle;  overflow:hidden;  background:url(../img/club-check.png) no-repeat;margin-right:10px;}
.club-a-sex .checked{background:url(../img/club-checked.png) no-repeat;}
.club-a-sex label{font-weight: normal;vertical-align: top;}
.club-items-list-sex{height:18px;line-height:18px;}
.club-items-list-sex .club-t-items-txt i{top:2px;}
.club-a-r .club-t-items-txt{width:72px;}
.club-a-r .club-d-dels{width:442px;}
.club-a-r .club-t-wave{width:442px;background: url("../img/club-wave.png") no-repeat;background-size:cover;}
.club-a-select {position:relative;width:280px;}
.club-a-select .club-a-selected{display:block;position:relative;text-indent:10px; height:36px; line-height:36px; border:1px solid #e1e1e1;background:#fff; }
.club-a-select em {  float:left;  }
.club-a-select i { position:absolute;  width:10px;  height:6px;  top:50%;  right:10px;  margin-top:-3px;  overflow:hidden;  background:url(../img/arrow-j.png) no-repeat;  }
.club-a-select .club-a-select-item {  position:absolute;  top:37px;  left:0;  width:100%;  background:#fff;  display:none;z-index:10;}
.club-a-select .club-a-select-list {  border:1px solid #e1e1e1;  max-height:180px;  height:auto;  _height:180px;  overflow:auto;  }
.club-a-select li {  height:36px;  line-height:36px;  text-indent:10px;  vertical-align:middle;  font-size:12px;  overflow:hidden;  }
.club-a-select a,.club-a-select a:visited{  display:block;  color:#666;  }
.club-a-select a:hover { background:#eceef1;  }
.club-a-upload,.club-a-upload img,.club-a-upload-file{display:block;width:68px;height:68px;}
.club-a-upload{position:relative;overflow:hidden;}
.club-a-upload-file{position:absolute;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.club-items-list-upload{height:auto;}
.club-a-upload-dels{margin-left:20px;}
.club-a-upload-add{display:block;width:86px;height:26px;line-height:26px;text-align:center;font-size:12px;color:#3b64c4;border:1px solid #3b64c4;border-radius:20px;}
.club-a-r .club-error{left:84px;}
/*添加运动员end*/
/*关于我们start*/
.indexMain-wrap.about,.indexMain-wrap.back,.indexMain-wrap.reg-c,.indexMain-wrap.reg-b{padding:40px 0;}
.indexMain-wrap.about .container{min-height:640px;}
.indexMain-wrap.about .con-calendar,.indexMain-wrap.back .con-calendar,.indexMain-wrap.reg-c .con-calendar,.indexMain-wrap.reg-b .con-calendar{padding-top:0;}
.indexMain-wrap.about .con-reg-title,.indexMain-wrap.back .con-reg-title,.indexMain-wrap.reg-c .con-reg-title,.indexMain-wrap.reg-b .con-reg-title{height:60px;line-height:60px;padding-left:20px;}
.indexMain-wrap.about .con-reg-tip,.indexMain-wrap.back .con-reg-tip,.indexMain-wrap.reg-c .con-reg-tip,.indexMain-wrap.reg-b .con-reg-tip{margin-top:21px;}
.indexMain-wrap.about .con-reg-line,.indexMain-wrap.back .con-reg-line,.indexMain-wrap.reg-c .con-reg-line,.indexMain-wrap.reg-b .con-reg-line{padding-top:16px;}
.indexMain-wrap.about .con-reg-sub,.indexMain-wrap.back .con-reg-sub,.indexMain-wrap.reg-c .con-reg-sub,.indexMain-wrap.reg-b .con-reg-sub{padding-top:18px;}
.about-para{padding:35px 40px 0;}
.about-text p{line-height:28px;font-size:16px;color:#666;padding-top:28px;text-indent:2em;}
.about-note{padding-top:56px;}
.about-note p{line-height:28px;font-size:16px;color:#666;text-align:right;}
.about-note p.about-date{line-height:30px;font-size:12px;color:#999;}
.about-para .col-sm-6{padding:0;}
.about-pic{margin:10px 0 0 30px;}
.about-pic img{width:100%;height:auto;}
/*关于我们end*/
/*赛事回顾start*/
.indexMain-wrap.back .con-reg-text{font-size:16px;}
.indexMain-wrap.back .col-xs-6,.indexMain-wrap.back .col-md-3,.indexMain-wrap.back .col-sm-6{padding:0;}
@media (min-width: 992px) and (max-width: 1200px) { .indexMain-wrap.back .back-dels li{width:315px;}}
.back-dels{padding:0 20px 20px 0;}
.back-dels li a{display:block;position:relative;margin:20px 0 0 20px;}
.back-pic{width:100%;height:auto;display: block;}
.back-title{height:42px;line-height:42px;background: #41485b;padding:0 10px;}
.back-title span{display:block;overflow:hidden;width:100%;white-space:nowrap;text-overflow:ellipsis;font-size:12px;color:#f6f6f6;}
.back-date{height:16px;line-height:16px;padding:0 6px;position:absolute;left:5px;bottom:52px;background: rgba(0,0,0,0.8);border-radius:2px;color:#fff;}
.back-arrow{width:20px;height:10px;background: url("../img/back-arrow.png") no-repeat;position:absolute;bottom:40px;right:5px;}
.back-yellow{width:100%;height:4px;background: #fff045;position:absolute;bottom:0;left:0;display:none;}
.back-dels li.active .back-yellow{display:block;}

/*赛事回顾end*/
/*取消报名start*/
.indexMain-wrap.reg-c .con-select-top,.indexMain-wrap.reg-b .con-select-top{margin-top:15px;}
.indexMain-wrap.reg-c .club-t-r,.indexMain-wrap.reg-b .club-t-r{width:100%;min-height:455px;background: url("../img/club-bg2.jpg") no-repeat;background-size:cover;}
.indexMain-wrap.reg-c .club-t-items-txt i,.indexMain-wrap.reg-b .club-t-items-txt i{position:absolute;color:#ff9333;font-size:14px;left:0;top:0;line-height:20px;top:12px;}
.indexMain-wrap.reg-c .club-t-items-txt,.indexMain-wrap.reg-b .club-t-items-txt{padding-left:10px;position:relative;}
.indexMain-wrap.reg-c .club-t-submit{margin-top:30px;}
.indexMain-wrap.reg-c .club-error{left:82px;}
video{vertical-align: top;}
/*取消报名end*/
/*参赛报名start*/
.indexMain-wrap.reg-b .club-t-dels{width:509px;height:973px;position:absolute;top:40px;margin-left:-254px;margin-top:0;}
.indexMain-wrap.reg-b .club-t-r{height:1064px;background: url("../img/club-bg3.jpg") no-repeat;background-size:cover;}
.indexMain-wrap.reg-b .club-t-items{padding-top:5px;}
.indexMain-wrap.reg-b .club-items-list-sex .club-t-items-txt i{top:2px;}
.club-b-sec1{padding-bottom:20px;border-bottom:1px solid #c8c8c8;}
.indexMain-wrap.reg-b .club-t-wave{width:509px;background-size:cover;}
.club-b-box{width:105px;}
.club-b-box .check,.club-b-box .checked{display:inline-block;width:18px; height:18px; cursor:pointer;  vertical-align:middle;  overflow:hidden;  background:url(../img/club-box-check.png) no-repeat;margin-right:10px;}
.club-b-box .checked{background:url(../img/club-box-checked.png) no-repeat;}
.club-b-box label{font-weight: normal;vertical-align: top;}
.club-b-textarea{width:370px;height:86px;border:1px solid #e1e1e1;position:relative;}
.club-b-textarea textarea{padding:5px;width:360px;height:76px;border:0 none;line-height:20px;color:#666;}
.club-b-static{line-height:20px;color:#999;position:absolute;bottom:5px;right:5px;}
.club-b-static em{color:#3b64c4;}
.indexMain-wrap.reg-b .club-items-list-other{height:88px;}
.indexMain-wrap.reg-b .club-t-submit{margin-top:20px;}
.indexMain-wrap.reg-b .club-error{left:82px;}
.j-b-items .club-error,.j-b-id .club-error{top:38px;}
.club-items-list-other .club-error{top:108px;}
.indexMain-wrap.reg-a .club-t-con,.indexMain-wrap.reg-m .club-t-con,.indexMain-wrap.reg-g .club-t-con,.indexMain-wrap.reg-d .club-t-con{min-width:1200px;}
/*参赛报名end*/