
/*header start*/
.g-header,.g-header .navbar-header{height:76px;}
.g-header{background: #f6f6f6;width:100%;z-index:10;}
.g-header .container{padding:0;}
.g-header .navbar {border:none;margin-bottom:0;background: none;}
.g-header .navbar-collapse{padding:0 10px;z-index:20;}
.g-header .navbar-nav{float:right;}
.g-logo{width:208px;height:82px;padding:0;}
.g-logo img{display:block;width:208px;height:82px;}
.g-fun{width:36px;height:32px;background: url("../img/fun.png") no-repeat;background-size:cover;margin-top:22px;}
.g-header .navbar-nav li,.g-header .navbar-nav li a{float:left;height:76px;}
.g-header .navbar-nav li{border-right:1px solid #eaeaea;text-align:center;position:relative;}
.g-header .navbar-nav li a{padding:0 30px;background: #f6f6f6;}
.g-header .navbar-nav li em,.g-header .navbar-nav li span{display:block;}
.g-header .navbar-nav li em{font-size:14px;color:#333;line-height:22px;padding-top:23px;}
.g-header .navbar-nav li span{font-size:12px;color:#acacac;font-family:"Arial";line-height:16px;}
.g-login em{padding-left:16px;position:relative;}
.g-login em i{position:absolute;top:27px;left:0;width:12px;height:14px;overflow:hidden;background: url("../img/user.png") no-repeat;}
.g-header .navbar-nav .g-nav-li.active a{background: #3b64c4;height:83px;}
.g-header .navbar-nav .g-nav-li.active{border-right:none;}
.g-header .navbar-nav .g-nav-li.active em{color:#fff;}
.g-header .navbar-nav .g-nav-li.active span{color:#8ca3da;}
.g-arrow{width:20px;height:10px;background: url("../img/arrow.png") no-repeat;position:absolute;top:74px;right:23px;display:none;}
@media (min-width: 1068px) and (max-width: 1200px) {.g-header .navbar-nav li a{padding:0 20px;} }
@media (min-width: 768px) and (max-width: 1068px) {.g-header .navbar-nav li a{padding:0 15px;} }
@media (min-width: 768px) and (max-width: 992px) { .g-header,.g-header .navbar{height:158px;}}
@media (max-width: 768px){
    .g-header .navbar-collapse{overflow:hidden;border-top:none;width:100%;position:relative;}
    .g-header .navbar-toggle{border-color:transparent;}
    .g-header .navbar-toggle:focus, .g-header .navbar-toggle:hover{background-color: transparent;}
    .g-header .navbar-nav{margin-top:0;margin-bottom:0;float:none;}
    .g-header .navbar-nav li,.g-header .navbar-nav li a{width:100%;}
    .g-header .navbar-nav li{border-right:none;text-align:left;height:63px;}
    .g-header .navbar-nav li.g-nav-li{border-bottom:1px solid #4772d4;}
    .g-header .navbar-nav li a{padding:0;background: #3b64c4;padding-left:30px;height:62px;}
    .g-header .navbar-nav li em,.m-header .navbar-nav li span{display:inline-block;vertical-align: top;}
    .g-header .navbar-nav li em{font-size:16px;color:#c1cff2;line-height:22px;padding-top:0;padding-top:20px;}
    .g-header .navbar-nav li span{font-size:10px;color:#6589dd;font-family:"\5FAE\8F6F\96C5\9ED1";line-height:22px;padding-left:10px;padding-top:22px;}
    .g-header .g-login em{padding-left:0;}
    .g-header .g-login em i{display:none;}
    .g-header .navbar-nav .g-nav-li.active a{background: #3b64c4;height:62px;}
    .g-header .navbar-nav .g-nav-li.active em{color:#c1cff2;}
    .g-header .navbar-nav .g-nav-li.active span{color:#6589dd;}
    .g-header .navbar-nav li a:hover,.g-header .navbar-nav li a:focus,.g-header .navbar-nav li a:active{background: #3b64c4;}
    /*.g-header .g-arrow{display:block;}*/
}
/*header end*/
/*banner slide start*/
.g-ban-pic a,.ban-slides-pic ul img{display:block;width:100%;height:auto;}
.g-ban-pic li{position:relative;}
.g-ban-pic li i{background:rgba(0,0,0,0.2);position:absolute;top:0;left:0;display:none;width:100%;height:100%;}
.g-ban-filter{height:38px;width:100%;background: rgba(0,0,0,0.5);position:absolute;bottom:0;left:0;}
.g-ban-btn ul{height:10px;position:absolute;bottom:15px;right:15px;z-index:5;}
.g-ban-btn li{border:0 none;width:10px;height:10px;background:#4a4a4a;cursor:pointer;}
.g-ban-btn li.active{background: #ffdf2d;}
.g-ban-pic li.active i{display:block;}
.g-ban-arrow{width:30px;height:35px;position:absolute;top:50%;margin-top:-18px;transition:left 0.2s ease-in;}
.g-ban-arrow.left{left:20px;background: url("../img/arrow-left.png") no-repeat;}
.g-ban-arrow.right{right:20px;background: url("../img/arrow-right.png") no-repeat;}
/*banner slide end*/
